In [15]:
import os
import argparse
from time import time

import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine

## Prepare Postgres and data tables

In [16]:
# load our database credentials and connect to our postgres server
load_dotenv("../notes/.env")
engine = create_engine('postgresql://root:root@localhost:5431/ny_taxi')

True

In [6]:
# test the database connection
engine.connect().close()

In [26]:
green_taxi_2019_09_url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz"
taxi_zones_url = "https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"

In [11]:
# take a look at the taxi trip data
df_green_taxi_sample = pd.read_csv(
    green_taxi_2019_09_url,
    nrows=100,
    parse_dates=["lpep_pickup_datetime", "lpep_dropoff_datetime"],
    compression="gzip"
)

In [12]:
df_green_taxi_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   lpep_pickup_datetime   100 non-null    datetime64[ns]
 2   lpep_dropoff_datetime  100 non-null    datetime64[ns]
 3   store_and_fwd_flag     100 non-null    object
 4   RatecodeID             100 non-null    int64
 5   PULocationID           100 non-null    int64
 6   DOLocationID           100 non-null    int64
 7   passenger_count        100 non-null    int64
 8   trip_distance          100 non-null    float64
 9   fare_amount            100 non-null    float64
 10  extra                  100 non-null    float64
 11  mta_tax                100 non-null    float64
 12  tip_amount             100 non-null    float64
 13  tolls_amount           100 non-null    float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  payment_type           100 non-null    int64
 18  trip_type              100 non-null    int64
 19  congestion_surcharge   100 non-null    float64
dtypes: datetime64[ns](2), float64(10), int64(7), object(1)
memory usage: 15.8+ KB

In [13]:
# create the dataframe iterator
df_green_taxi_iter = pd.read_csv(
    green_taxi_2019_09_url,
    parse_dates=["lpep_pickup_datetime", "lpep_dropoff_datetime"],
    iterator=True,
    chunksize=100_000,
    compression="gzip"
)

In [14]:
# iterate and read into sql
for df_chunk in df_green_taxi_iter:
    t_start = time()

    df_chunk.to_sql(name='green_taxi_trips', con=engine, if_exists="append")

    t_end = time()
    print(f"inserted chunk in {t_end - t_start:.3f} seconds.")

inserted chunk in 16.014 seconds.
inserted chunk in 17.455 seconds.
inserted chunk in 16.905 seconds.

C:\Users\Michael\AppData\Local\Temp\ipykernel_6728\1801441052.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  for df_chunk in df_green_taxi_iter:

inserted chunk in 16.987 seconds.
inserted chunk in 5.950 seconds.

In [27]:
# take a look at the taxi zone data
df_taxi_zones = pd.read_csv(taxi_zones_url)

In [29]:
df_taxi_zones.to_sql(name='taxi_zones', con=engine, if_exists="replace")

265

## Question 3. Count records
How many taxi trips were totally made on September 18th 2019?

Tip: started and finished on 2019-09-18.

Remember that lpep_pickup_datetime and lpep_dropoff_datetime columns are in the format timestamp (date and hour+min+sec) and not in date.

In [23]:
query = """
select
	count(index) as "taxi trips"
from
	green_taxi_trips
where
	lpep_pickup_datetime >= '2019-09-18 00:00:00' and
	lpep_dropoff_datetime < '2019-09-19 00:00:00'
"""
df = pd.read_sql(query, con=engine)
df

## Question 4. Longest trip for each day

Which was the pick up day with the longest trip distance?
Use the pick up time for your calculations.

Tip: For every trip on a single day, we only care about the trip with the longest distance.

In [25]:
query = """
select
	lpep_pickup_datetime,
	trip_distance
from
	green_taxi_trips
order by
	trip_distance desc
limit 1
"""
df = pd.read_sql(query, con=engine)
df

  lpep_pickup_datetime  trip_distance
0  2019-09-26 19:32:52         341.64

## Question 5. Three biggest pick up Boroughs

Consider lpep_pickup_datetime in '2019-09-18' and ignoring Borough has Unknown

Which were the 3 pick up Boroughs that had a sum of total_amount superior to 50000?

In [30]:
query = """
select
	zones."Borough",
	sum(trips."total_amount") as "sum_total_amount"
from
	green_taxi_trips trips
join
	taxi_zones zones
on
	trips."PULocationID" = zones."LocationID"
where
	zones."Borough" != 'Unknown' and
	lpep_pickup_datetime >= '2019-09-18 00:00:00' and
	lpep_pickup_datetime < '2019-09-19 00:00:00'
group by
	zones."Borough"
order by
	"sum_total_amount" desc
"""
df = pd.read_sql(query, con=engine)
df

         Borough  sum_total_amount
0       Brooklyn          96333.24
1      Manhattan          92271.30
2         Queens          78671.71
3          Bronx          32830.09
4  Staten Island            342.59

## Question 6. Largest tip

For the passengers picked up in September 2019 in the zone name Astoria which was the drop off zone that had the largest tip?
We want the name of the zone, not the id.

Note: it's not a typo, it's `tip` , not `trip`

In [31]:
query = """
select
	trips."tip_amount",
	pickup_zones."Zone" as "Pickup Zone",
	dropoff_zones."Zone" as "Drop Off Zone"
from
	green_taxi_trips trips
join
	taxi_zones pickup_zones
on
	trips."PULocationID" = pickup_zones."LocationID"
join
	taxi_zones dropoff_zones
on
	trips."DOLocationID" = dropoff_zones."LocationID"
where
	pickup_zones."Zone" = 'Astoria'
order by
	tip_amount desc
limit 1
"""
df = pd.read_sql(query, con=engine)
df

   tip_amount Pickup Zone Drop Off Zone
0       62.31     Astoria   JFK Airport